<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.repository.ModelRepository">

    <select id="findAll" resultType="ModelDTO">
        SELECT
            *
        FROM
            model
    </select>

    <select id="findById" resultType="ModelDTO">
        SELECT
            *
        FROM
            model
        WHERE
            id = #{id}
    </select>

    <select id="findByCategoryId" resultType="ModelDTO">
        SELECT
            *
        FROM
            model
        WHERE
            categoryId = #{categoryId}
    </select>

    <select id="findByName" resultType="ModelDTO">
        SELECT
            *
        FROM
            model
        WHERE
            name = #{name}
    </select>

    <insert id="insert" parameterType="ModelDTO">
        INSERT INTO
            model
                (code, category_id, name, contents, price, status)
        VALUES
                (#{code}, #{categoryId}, #{name}, #{contents}, #{price}, #{status})
    </insert>


    <update id="modify" parameterType="ModelDTO">
        UPDATE
            model
        SET
            <if test="code != null"> code = #{code}</if>,
            <if test="categoryId != null">category_id = #{categoryId}</if>,
            <if test="name != null">name = #{name}</if>,
            <if test="contents != null">contents = #{contents}</if>,
            <if test="price != null">price = #{price}</if>,
            <if test="status != null">status = #{status}</if>,
            <if test="m != null">modified_date = #{modifiedDate}
        WHERE
            id = #{id}
    </update>


    <delete id="deleteById">
        DELETE
        FROM
            model
        WHERE
            id = #{id}
    </delete>

</mapper>