<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.repository.ProductRepository">

    <select id="findAll" resultType="ProductDTO">
        SELECT
            *
        FROM
            product
    </select>

    <select id="findById" resultType="ProductDTO">
        SELECT
            *
        FROM
            product
        WHERE
            id = #{id}
    </select>

    <insert id="insert" parameterType="ProductDTO">
        INSERT INTO
            product
                (model_id, color, code, status)
        VALUES
                (#{modelId}, #{color}, #{code}, #{status})
    </insert>

<!--*****************************************************************-->
    <update id="modify" parameterType="ProductDTO">
        UPDATE
            product
        SET
            <if test ="modelId != null">model_id = #{modelId},</if>
            <if test ="color != null">color = #{color},</if>
            <if test ="code != null">code = #{code},</if>
            <if test ="status != null">status = #{status},</if>
            modified_date = #{modifiedDate}
        WHERE
            id = #{id}
    </update>

<!--    <update id="modify" parameterType="ProductDTO">-->
<!--        UPDATE-->
<!--            product-->
<!--        SET-->
<!--            model_id = #{modelId},-->
<!--            color = #{color},-->
<!--            code = #{code},-->
<!--            status = #{status},-->
<!--            modified_date = #{modifiedDate}-->
<!--        WHERE-->
<!--            id = #{id}-->
<!--    </update>-->

    <!--*****************************************************************-->


    <delete id="deleteById">
        DELETE
        FROM
            product
        WHERE
            id = #{id}
    </delete>

</mapper>