<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.repository.ReviewRepository">

    <select id="findAll" resultType="ReviewDTO">
        SELECT
            *
        FROM
            review
    </select>

    <select id="findById" resultType="ReviewDTO">
        SELECT
            *
        FROM
            review
        WHERE
            id = #{id}
    </select>

    <insert id="insert" parameterType="ReviewDTO">
        INSERT INTO
            review
                (size_option_id, user_id, rating, contents, status)
        VALUES
                (#{sizeOptionId}, #{userId}, #{rating}, #{contents}, #{status})
    </insert>


    <update id="modify" parameterType="ReviewDTO">
        UPDATE
            review
        SET
            size_option_id = #{sizeOptionID},
            user_id = #{userId},
            rating = #{rating},
            contents = #{contents},
            status = #{status},
            modified_date = #{modifiedDate}
        WHERE
            id = #{id}
    </update>


    <delete id="deleteById">
        DELETE
        FROM
            review
        WHERE
            id = #{id}
    </delete>

</mapper>